# Import Libraries

In [1]:
import pandas as pd
from sqlalchemy import create_engine
import pprint
import psycopg2

In [2]:
from database_credentials import username
from database_credentials import password

# Store CSV into DataFrame

In [3]:
#Import files
csvfile = "../DataFiles/USvideos.csv"
us_videos = pd.read_csv(csvfile)
us_videos.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,2kyS6SvSYSE,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,748374,57527,2966,15954,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...
1,1ZAPwfrtAFY,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2017-11-13T07:30:00.000Z,"last week tonight trump presidency|""last week ...",2418783,97185,6146,12703,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,False,"One year after the presidential election, John..."
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146033,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO ‚ñ∂ \n\nSUBSCRIBE ‚ñ∫ http...
3,puqaWrEC7tY,17.14.11,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24,2017-11-13T11:00:04.000Z,"rhett and link|""gmm""|""good mythical morning""|""...",343168,10172,666,2146,https://i.ytimg.com/vi/puqaWrEC7tY/default.jpg,False,False,False,Today we find out if Link is a Nickelback amat...
4,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095731,132235,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...

# Data Preprocessing - CSV File

In [4]:
# Identify any missing data
us_videos.count()

video_id                  40949
trending_date             40949
title                     40949
channel_title             40949
category_id               40949
publish_time              40949
tags                      40949
views                     40949
likes                     40949
dislikes                  40949
comment_count             40949
thumbnail_link            40949
comments_disabled         40949
ratings_disabled          40949
video_error_or_removed    40949
description               40379
dtype: int64

In [5]:
#us_videos.info

In [6]:
us_videos.dtypes

video_id                  object
trending_date             object
title                     object
channel_title             object
category_id                int64
publish_time              object
tags                      object
views                      int64
likes                      int64
dislikes                   int64
comment_count              int64
thumbnail_link            object
comments_disabled           bool
ratings_disabled            bool
video_error_or_removed      bool
description               object
dtype: object

Transforming Trending Date

In [7]:
#Transforming trending date to datetime format
us_videos['trending_date'] = pd.to_datetime(us_videos['trending_date'],format = '%y.%d.%m')

In [8]:
#Extract trending month and year
us_videos['trending_month'] = us_videos['trending_date'].dt.month
us_videos['trending_year'] = us_videos['trending_date'].dt.year

Transforming Publish time

In [9]:
#Transforming publish date from obj to datetime format
us_videos['publish_time'] = pd.to_datetime(us_videos['publish_time'], format = '%Y-%m-%dT%H:%M:%S.%fZ')

In [10]:
#Extract publish month and year
us_videos['publish_month'] = us_videos['publish_time'].dt.month
us_videos['publish_year'] = us_videos['publish_time'].dt.year

In [11]:
#us_videos.head()

# Create new data with select columns

In [12]:
us_videos.columns

Index(['video_id', 'trending_date', 'title', 'channel_title', 'category_id',
       'publish_time', 'tags', 'views', 'likes', 'dislikes', 'comment_count',
       'thumbnail_link', 'comments_disabled', 'ratings_disabled',
       'video_error_or_removed', 'description', 'trending_month',
       'trending_year', 'publish_month', 'publish_year'],
      dtype='object')

In [13]:
# Get rid of unnecessary columns
us_videos_df = us_videos[['video_id','title', 'description','channel_title', 'category_id','views', 'likes', 'dislikes',
                          'comment_count', 'trending_date', 'trending_month','trending_year','publish_time',
                          'publish_month', 'publish_year']].copy()

In [14]:
#Data Trasformation : Rename Columns
us_videos_df = us_videos_df.rename(columns ={"publish_time":"publish_date","views":"view_count", "likes":"like_count",
                                             "dislikes":"dislike_count"})
us_videos_df.dtypes

video_id                  object
title                     object
description               object
channel_title             object
category_id                int64
view_count                 int64
like_count                 int64
dislike_count              int64
comment_count              int64
trending_date     datetime64[ns]
trending_month             int64
trending_year              int64
publish_date      datetime64[ns]
publish_month              int64
publish_year               int64
dtype: object

Checking Duplicates in the DataFrame

In [15]:
#Count Duplicates in the DataFrame
duplicate_count =us_videos_df.duplicated().sum()
duplicate_count

#Count the number of non-duplicates
#non_duplicate_count = (~us_videos.duplicated()).sum()
#non_duplicate_count

48

In [16]:
#Extracting Duplicate Rows
us_videos_df.loc[us_videos_df.duplicated(), :]

,video_id,title,description,channel_title,category_id,view_count,like_count,dislike_count,comment_count,trending_date,trending_month,trending_year,publish_date,publish_month,publish_year
34899,QBL8IRJ5yHU,Why I'm So Scared (being myself and crying too...,I will never be able to say Thank You enough.....,grav3yardgirl,26,1469627,188652,3124,33032,2018-05-15,5,2018,2018-05-14 19:00:01,5,2018
34900,t4pRQ0jn23Q,YoungBoy Never Broke Again Goes Sneaker Shoppi...,YoungBoy Never Broke Again goes Sneaker Shoppi...,Complex,24,1199587,49709,2380,7261,2018-05-15,5,2018,2018-05-14 14:00:03,5,2018
34901,j4KvrAUjn6c,WE MADE OUR MOM CRY...HER DREAM CAME TRUE!,BEST MOM EVER! WANT TO SEE US IN NYC & NJ?!BUY...,Lucas and Marcus,24,3906727,77378,12160,15874,2018-05-15,5,2018,2018-05-13 18:03:56,5,2018
34902,MAjY8mCTXWk,"Âë®Êù∞ÂÄ´ Jay Chou„Äê‰∏çÊÑõÊàëÂ∞±ÊãâÂÄí If You Don't Love Me, It's...",Ë©ûÔºöÂë®Êù∞ÂÄ´„ÄÅÂÆãÂÅ•ÂΩ∞ÔºàÂΩàÈ†≠Ôºâ Êõ≤ÔºöÂë®Êù∞ÂÄ´ÊÜÇÈ¨±ÂûãÁî∑ÁöÑËµ∞ÂøÉÊóãÂæã Áî®Ëã±ÂºèÊêñÊªæÂÆ£Ê¥©ÊÉÖÂÇ∑‰∏çÊÑõÊàëÂ∞±ÊãâÂÄí...,Êù∞Â®ÅÁàæÈü≥Ê®Ç JVR Music,10,916128,40485,1042,4746,2018-05-15,5,2018,2018-05-14 15:59:47,5,2018
34903,xhs8tf1v__w,Terry Crews Answers the Web's Most Searched Qu...,Terry Crews takes the WIRED Autocomplete Inter...,WIRED,24,343967,16988,132,1308,2018-05-15,5,2018,2018-05-14 16:00:29,5,2018
34904,E21NATEP9QI,Why Stradivarius violins are worth millions,Many musicians prefer these 300-year-old instr...,Vox,25,433833,12356,307,1129,2018-05-15,5,2018,2018-05-14 12:00:03,5,2018
34905,jzLlsbdrwQk,"$17 Pet vs. $100,000 Pet",‚ÄúWho is Lennox and why is he so special?‚ÄùCredi...,BuzzFeedBlue,22,3081033,60379,6857,7796,2018-05-15,5,2018,2018-05-13 15:00:57,5,2018
34906,1RZYOeQeIXE,Sarah Paulson Gets Scared During '5 Second Rule',Sarah Paulson agreed to play a friendly game o...,TheEllenShow,24,704786,19880,248,669,2018-05-15,5,2018,2018-05-14 13:00:00,5,2018
34907,WF82ABLw8s4,Gabby Barrett Sings I Have Nothing by Whitney ...,Gabby Barrett sings I Have Nothing by Whitney ...,American Idol,24,735031,11734,1468,1870,2018-05-15,5,2018,2018-05-14 02:23:01,5,2018
34908,r-3iathMo7o,"The ULTIMATE $30,000 Gaming PC Setup","Fortnite, PUBG, Far Cry 5? Which game would yo...",Unbox Therapy,28,4700460,103430,8028,13293,2018-05-15,5,2018,2018-05-13 19:00:25,5,2018
34909,NBSAQenU2Bk,Rooster Teeth Animated Adventures - Millie So ...,Millie is invited to help out at a Sugar Pine ...,Rooster Teeth,1,404162,17920,79,642,2018-05-15,5,2018,2018-05-14 13:00:01,5,2018
34910,Xpv-sEKl1B4,"Why You Should Wake Up at 4:30 AM Every Day, A...","With a busy schedule, Jocko Willink finds time...",Business Insider,26,2567982,50065,2345,6732,2018-05-15,5,2018,2018-05-13 20:00:02,5,2018
34911,HrQNdClwMs4,DIY GIANT McDONALDS HASH BROWN üçü - VERSUS,SUBSCRIBE HERE ‚û°Ô∏è https://goo.gl/CitGia2ND CHA...,HellthyJunkFood,24,1957964,25829,2643,3698,2018-05-15,5,2018,2018-05-13 13:00:01,5,2018
34913,4oqvNR1o3Zo,24 HOUR BOX FORT PRISON ESCAPE ROOM!! üì¶üöî Diggi...,In Todays 24 hour Box Fort video papa Jake bui...,Papa Jake,24,1030616,20251,3290,3567,2018-05-15,5,2018,2018-05-13 16:42:33,5,2018
34914,96oKlWv5wSo,AMAZING All You Can Eat BBQ KEBAB Buffet in I...,I'm always on the lookout for new amazing buff...,Strictly Dumpling,19,456475,10561,337,1384,2018-05-15,5,2018,2018-05-13 20:17:14,5,2018
34915,oRexsyztGS0,Exciting iPhone 11 Leaks & Round Apple Watch!,"iPhone 11 Leaks Are Ramping Up, Latest Feature...",EverythingApplePro,24,963996,20323,1108,3323,2018-05-15,5,2018,2018-05-13 18:29:09,5,2018
34916,MT7RQ0gu8ak,DO PARENTS KNOW MODERN MUSIC? #17 (REACT: Do T...,Watch all Do They Know It Eps! https://goo.gl/...,REACT,24,800873,19909,744,5017,2018-05-15,5,2018,2018-05-13 19:00:01,5,2018
34917,1U1u5aKU3AY,New lava fissures fuel fears of eruption in Ha...,Three new fissures have opened on Hawaii's Big...,CNN,25,241387,1488,251,1087,2018-05-15,5,2018,2018-05-13 19:30:53,5,2018
34918,xTrwT0jSUg0,Mother Knows Best - SNL,"Three mother-child pairs (Cecily Strong, Aidy ...",Saturday Night Live,24,1248343,15750,1919,1261,2018-05-15,5,2018,2018-05-13 05:06:11,5,2018
34919,3g5O-kT9m8k,$1000 Survival Kit in a Case,$15 Survival Kit Unboxing - https://youtu.be/0...,CrazyRussianHacker,28,1289899,51318,1359,4332,2018-05-15,5,2018,2018-05-13 18:51:13,5,2018
34921,Dwc27Lsr1EY,MANIFEST | Official Trailer | NBC Fall Shows 2018,"In 2013, Flight 828 disappeared into thin air....",Manifest,24,2061448,5290,1861,546,2018-05-15,5,2018,2018-05-13 16:29:55,5,2018
34922,6ijnv-jNhUA,Make a Glowing Announcement Board,In today's video we're making a cool glowing b...,The King of Random,27,454162,9815,330,1489,2018-05-15,5,2018,2018-05-13 15:00:00,5,2018
34923,D2mxKEa2xmA,10 Most DEVASTATING Cyber Attacks in History,"Download the best VPN on the market, NORDVPN n...",MatthewSantoro,24,158406,6773,364,947,2018-05-15,5,2018,2018-05-13 13:00:01,5,2018
34924,OUBx_raReDw,Amanda Nunes vs Raquel Pennington | HIGHLIGHTS...,The UFC on FOX crew breaks down Nunes' dominan...,UFC ON FOX,17,769802,2777,667,1285,2018-05-15,5,2018,2018-05-13 06:44:47,5,2018
34925,BspHjvU11y4,Kelly Clarkson - Meaning of Life [Official Video],MEANING OF LIFE available now: https://Atlanti...,Kelly Clarkson,10,494211,28080,426,1644,2018-05-15,5,2018,2018-05-13 13:00:41,5,2018
34926,nRc0kmOYgzQ,"We built the Infinity Gauntlet with 25,000 mag...","NanoDots master builder, Edo, turned a huge pi...",Vat19,24,2227658,29191,1157,4092,2018-05-15,5,2018,2018-05-12 11:30:03,5,2018
34927,UfKmSfgFxi8,FORTNITE The Movie (Official Fake Trailer),Play Fortnite for FREE here: https://pixly.go2...,nigahiga,24,8289563,408385,10966,21837,2018-05-15,5,2018,2018-05-11 21:11:16,5,2018
34928,_iGAptGAweo,Timed Mile in P.E. | Hannah Stocking & Anwar J...,WATCH MORE ‚ñ∂ https://youtu.be/twi_5o62cbUSUBSC...,Hannah Stocking,23,2271926,78125,4191,5868,2018-05-15,5,2018,2018-05-12 16:01:05,5,2018
34929,DGdSlnw4D_M,Fortnite | Real Life Battle Royale!!,Team Edge Merchandise! ‚û° https://teamedge.stor...,Team Edge,23,2058569,32574,4195,5227,2018-05-15,5,2018,2018-05-11 21:19:10,5,2018
34930,BfawmhUVXVo,‚ÄòA Change Is Gonna Come‚Äô for Lifford after he ...,Former Artful Dodger collaborator Lifford Shil...,Britain's Got Talent,24,1670008,25506,740,0,2018-05-15,5,2018,2018-05-12 19:46:33,5,2018
34931,LtpqdJkoKm8,COLLEGE KIDS REACT TO THIS IS AMERICA - CHILDI...,This is America by Childish Gambino reacted to...,FBE,24,3513129,106481,6922,18647,2018-05-15,5,2018,2018-05-11 21:00:03,5,2018
34932,mAfkkgw_-68,We Tried To Re-Create This Giant Cinnamon Roll,‚ÄúOH MY GOD THEY‚ÄùRE GIGANTIC!‚ÄùCheck us out on F...,Tasty,26,1207080,28615,598,1537,2018-05-15,5,2018,2018-05-12 15:00:32,5,2018
34933,rQEqKZ7CJlk,Bangabandhu Satellite-1 Mission,SpaceX is targeting launch of Bangabandhu Sate...,SpaceX,28,2652713,46420,4450,5561,2018-05-15,5,2018,2018-05-11 20:56:59,5,2018
34934,OXVm3fhYsEo,KYLIE COSMETICS X KRIS JENNER COLLECTION | SWA...,"*After looking over this footage, I definitely...",Jaclyn Hill,26,2288505,96852,5530,12492,2018-05-15,5,2018,2018-05-11 22:25:51,5,2018
34935,ksjWPxFPsos,Can you Shrek it? (YIAY #414),Get your first 3 meals free by going here! ‚ñ∫ h...,jacksfilms,23,1663506,79165,1879,36476,2018-05-15,5,2018,2018-05-11 19:20:29,5,2018
34936,UQkBcHLZOqU,Wearing Fashion Nova Outfits For A Week,I've been seeing this mysterious hashtag #Nova...,Safiya Nygaard,22,4106029,205285,2180,11217,2018-05-15,5,2018,2018-05-11 22:36:56,5,2018
34937,mdWcaWBxxcY,"Rita Ora - Girls ft. Cardi B, Bebe Rexha & Cha...","Rita Ora 'Girls' ft. Cardi B, Bebe Rexha & Cha...",Rita Ora,24,4429079,189112,22383,18998,2018-05-15,5,2018,2018-05-11 09:23:16,5,2018
34938,Am6NHDbj6XA,Donald Glover on This is America Music Video,Donald talks about his huge new video for This...,Jimmy Kimmel Live,24,4867281,86356,10524,3122,2018-05-15,5,2018,2018-05-11 07:30:00,5,2018
34939,vjSohj-Iclc,"Getting some air, Atlas?",NaN,BostonDynamics,28,5650991,76461,2666,12187,2018-05-15,5,2018,2018-05-10 19:56:28,5,2018
34940,CPjWgk0UXps,I Got My Apartment Professionally Organized,I worked with professional organizer Ashley Mo...,Michelle Khare,24,1122213,28049,1299,1214,2018-05-15,5,2018,2018-05-11 15:00:01,5,2018
34941,uxbQATBAXf8,Deadpool 2 | With Apologies to David Beckham,Get your Deadpool 2 tickets at http://www.Dead...,20th Century Fox,1,15960127,374825,3823,9059,2018-05-15,5,2018,2018-05-10 14:24:29,5,2018
34942,y_WoOYybCro,How I Became The Fresh Prince of Bel-Air | STO...,"The full story of how an ex-girlfriend, Arseni...",Will Smith,24,2055638,120377,752,4872,2018-05-15,5,2018,2018-05-10 16:08:58,5,2018
34943,oSEeK9yDNQI,Clash Royale: Meet the Rascals! (New Card!),Rascals! What have they done now...New Card Ou...,Clash Royale,20,13418844,258720,22805,19877,2018-05-15,5,2018,2018-05-10 13:19:23,5,2018
34944,iILJvqrAQ_w,Charlie Puth - BOY [Official Audio],Voicenotes Available Now: https://Atlantic.lnk...,Charlie Puth,10,2124177,81085,1321,4019,2018-05-15,5,2018,2018-05-11 04:00:34,5,2018
34945,zcEE8J2Bqa8,The Goblin - JACK AND DEAN,That? That's a goblin living under the stairs....,Jack and Dean,23,165617,20572,140,1407,2018-05-15,5,2018,2018-05-11 18:27:01,5,2018
34946,q1jzwV_s8_Y,Christina Aguilera - Twice (Audio),Pre-order Christina Aguilera‚Äôs new album ‚ÄòLibe...,CAguileraVEVO,10,1869585,64523,1891,5903,2018-05-15,5,2018,2018-05-11 07:00:01,5,2018
34947,mkz1zoo15zI,Richard Jefferson and Tracy McGrady have stron...,Richard Jefferson and Tracy McGrady share thei...,ESPN,17,472999,3505,163,1511,2018-05-15,5,2018,2018-05-11 19:21:53,5,2018
34948,2PH7dK6SLC8,John Mayer - New Light,Spotify: http://radi.al/NewLightSpotifyApple: ...,johnmayerVEVO,10,1201548,51670,964,4264,2018-05-15,5,2018,2018-05-10 17:00:01,5,2018

Removing Duplicates

In [17]:
us_videos_df.drop_duplicates(inplace=True)

# Store JSON date into a DataFrame

In [18]:
json_file = "../DataFiles/US_category_id.json"
video_category_json = pd.read_json(json_file)
video_category = pd.json_normalize(video_category_json['items'])
video_category.head()

,kind,etag,id,snippet.channelId,snippet.title,snippet.assignable
0,youtube#videoCategory,"""m2yskBQFythfE4irbTIeOgYYfBU/Xy1mB4_yLrHy_BmKm...",1,UCBR8-60-B28hp2BmDPdntcQ,Film & Animation,True
1,youtube#videoCategory,"""m2yskBQFythfE4irbTIeOgYYfBU/UZ1oLIIz2dxIhO45Z...",2,UCBR8-60-B28hp2BmDPdntcQ,Autos & Vehicles,True
2,youtube#videoCategory,"""m2yskBQFythfE4irbTIeOgYYfBU/nqRIq97-xe5XRZTxb...",10,UCBR8-60-B28hp2BmDPdntcQ,Music,True
3,youtube#videoCategory,"""m2yskBQFythfE4irbTIeOgYYfBU/HwXKamM1Q20q9BN-o...",15,UCBR8-60-B28hp2BmDPdntcQ,Pets & Animals,True
4,youtube#videoCategory,"""m2yskBQFythfE4irbTIeOgYYfBU/9GQMSRjrZdHeb1OEM...",17,UCBR8-60-B28hp2BmDPdntcQ,Sports,True

In [19]:
video_category.dtypes

kind                  object
etag                  object
id                    object
snippet.channelId     object
snippet.title         object
snippet.assignable      bool
dtype: object


# Data Preprocessing - JSON File

In [20]:
#Transforming id column in video_category_df to int-64 so we can match the same with CSV File category_id column
        #video_category['id'] = video_category_df['id'].astype('int64')
video_category['id'] = pd.to_numeric(video_category['id'])
#video_category.dtypes

In [21]:
video_category.columns

Index(['kind', 'etag', 'id', 'snippet.channelId', 'snippet.title',
       'snippet.assignable'],
      dtype='object')

In [22]:
# Get rid of unnecessary columns
video_category_df = video_category[['id','snippet.title']].copy()

In [23]:
#Rename column
video_category_df = video_category_df.rename(columns ={"snippet.title":"category_title"})

In [24]:
# video_category_df["snippet.title"].value_counts()
#video_category_df["snippet.assignable"].unique

In [25]:
video_category_df.head()

   id    category_title
0   1  Film & Animation
1   2  Autos & Vehicles
2  10             Music
3  15    Pets & Animals
4  17            Sports

In [26]:
#Count total categories
video_category_df.count()

id                32
category_title    32
dtype: int64

In [27]:
#Checking Duplicates
video_category_df.duplicated().sum()

0

# Loading Data to Postgress Database

In [28]:
#Creating a connection to Postgress database
from sqlalchemy import create_engine
engine = create_engine(f"postgresql://{username}:{password}@localhost:5432/etl_project")

In [29]:
engine.table_names()

<ipython-input-29-d72bc75a6b62>:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['video_category', 'us_videos']

# Use pandas to load converted DataFrame to database

Load video_category file first as it has reference in us_video table

In [30]:
#Remove after final run
engine.execute("TRUNCATE TABLE us_videos, video_category")

Load video_category data

In [31]:
video_category_df.to_sql(name='video_category', con=engine, if_exists='append', index=False)

In [32]:
sql_category_count =pd.read_sql_query('select count(id) from video_category', con=engine)
sql_category_count

   count
0     32

Load us_videos data

In [33]:
us_videos_df.to_sql(name ='us_videos', con =engine, if_exists ='append', index=False)

In [34]:
sql_video_count = pd.read_sql_query('Select count(id) from us_videos', con=engine)

# Verifying Results in SQL

Datafame Count Records

In [35]:
video_category_count = video_category_df['id'].count()
print(f'Total number of categories in DataFrame: {video_category_count}')
us_videos_count = us_videos_df['video_id'].count()
print(f'Total number of youtube videos in DataFrame: {us_videos_count}')

Total number of categories in DataFrame: 32
Total number of youtube videos in DataFrame: 40901

In [36]:
sql_category_count =pd.read_sql_query('select count(id) from video_category', con=engine)
print(f'Total number of youtube videos in SQL: {sql_category_count}')
sql_video_count = pd.read_sql_query('Select count(id) from us_videos', con=engine)
print(f'Total number of categories in DataFrame: {sql_video_count}')

Total number of youtube videos in SQL:    count
0     32
Total number of categories in DataFrame:    count
0  40901

In [37]:
sql_category_count.dtypes

count    int64
dtype: object