# Import Libraries

In [1]:
import pandas as pd
from sqlalchemy import create_engine
import pprint
import psycopg2

In [2]:
from database_credentials import username
from database_credentials import password

# Store CSV into DataFrame

In [3]:
#Import files
csvfile = "../DataFiles/USvideos.csv"
us_videos = pd.read_csv(csvfile)
us_videos.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,2kyS6SvSYSE,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,748374,57527,2966,15954,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...
1,1ZAPwfrtAFY,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2017-11-13T07:30:00.000Z,"last week tonight trump presidency|""last week ...",2418783,97185,6146,12703,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,False,"One year after the presidential election, John..."
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146033,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...
3,puqaWrEC7tY,17.14.11,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24,2017-11-13T11:00:04.000Z,"rhett and link|""gmm""|""good mythical morning""|""...",343168,10172,666,2146,https://i.ytimg.com/vi/puqaWrEC7tY/default.jpg,False,False,False,Today we find out if Link is a Nickelback amat...
4,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095731,132235,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...

# Data Preprocessing - CSV File

In [ ]:
# Identify any missing data
us_videos.count()

In [ ]:
#us_videos.info

In [ ]:
us_videos.dtypes

Transforming Trending Date

In [ ]:
#Transforming trending date to datetime format
us_videos['trending_date'] = pd.to_datetime(us_videos['trending_date'],format = '%y.%d.%m')

In [ ]:
#Extract trending month and year
us_videos['trending_month'] = us_videos['trending_date'].dt.month
us_videos['trending_year'] = us_videos['trending_date'].dt.year

Transforming Publish time

In [ ]:
#Transforming publish date from obj to datetime format
us_videos['publish_time'] = pd.to_datetime(us_videos['publish_time'], format = '%Y-%m-%dT%H:%M:%S.%fZ')

In [ ]:
#Extract publish month and year
us_videos['publish_month'] = us_videos['publish_time'].dt.month
us_videos['publish_year'] = us_videos['publish_time'].dt.year

In [ ]:
us_videos.dtypes

# Create new data with select columns

In [ ]:
us_videos.columns

In [ ]:
# Get rid of unnecessary columns
us_videos_df = us_videos[[ 'title', 'channel_title', 'category_id','views', 'likes', 'dislikes', 'comment_count',
                          'trending_date','country', 'trending_month', 'trending_year',
                          'publish_time', 'publish_month', 'publish_year']].copy()

In [ ]:
# Data Transformation: Rename Columns
us_videos_df = us_videos_df.rename(columns={ "publish_time":"publish_date", "views":"view_count", 
                             "likes":"like_count", "dislikes":"dislike_count"})

Checking Duplicates in the DataFrame

In [ ]:
#Count Duplicates in the DataFrame
duplicate_count =us_videos_df.duplicated().sum()
duplicate_count

#Count the number of non-duplicates
#non_duplicate_count = (~us_videos.duplicated()).sum()
#non_duplicate_count

In [ ]:
#Extracting Duplicate Rows
us_videos_df.loc[us_videos_df.duplicated(), :]

Removing Duplicates

In [ ]:
us_videos_df.drop_duplicates(inplace=True)

# Store JSON date into a DataFrame

In [ ]:
json_file = "../DataFiles/US_category_id.json"
video_category_json = pd.read_json(json_file)
video_category = pd.json_normalize(video_category_json['items'])
video_category.head()

In [ ]:
video_category.dtypes


# Data Preprocessing - JSON File

In [ ]:
#Transforming id column in video_category_df to int-64 so we can match the same with CSV File category_id column
        #video_category['id'] = video_category_df['id'].astype('int64')
video_category['id'] = pd.to_numeric(video_category['id'])
#video_category.dtypes

In [ ]:
video_category.columns

In [ ]:
# Get rid of unnecessary columns
video_category_df = video_category[['id','snippet.title']].copy()

In [ ]:
#Rename column
video_category_df = video_category_df.rename(columns ={"snippet.title":"category_title"})

In [ ]:
# video_category_df["snippet.title"].value_counts()
#video_category_df["snippet.assignable"].unique

In [ ]:
video_category_df.head()

In [ ]:
#Count total categories
video_category_df.count()

In [ ]:
#Checking Duplicates
video_category_df.duplicated().sum()

# Loading Data to Postgress Database

In [ ]:
#Creating a connection to Postgress database
from sqlalchemy import create_engine
engine = create_engine(f"postgresql://{username}:{password}@localhost:5432/etl_project")

In [ ]:
engine.table_names()

# Use pandas to load converted DataFrame to database

Load video_category file first as it has reference in us_video table

In [ ]:
#Remove after final run
engine.execute("TRUNCATE TABLE us_videos, video_category")

Load video_category data

In [ ]:
video_category_df.to_sql(name='video_category', con=engine, if_exists='append', index=False)

In [ ]:
sql_category_count =pd.read_sql_query('select count(id) from video_category', con=engine)
sql_category_count

Load us_videos data

In [ ]:
us_videos_df.to_sql(name ='us_videos', con =engine, if_exists ='append', index=False)

In [ ]:
sql_video_count = pd.read_sql_query('Select count(id) from us_videos', con=engine)

# Verifying Results in SQL

Datafame Count Records

In [ ]:
video_category_count = video_category_df['id'].count()
print(f'Total number of categories in DataFrame: {video_category_count}')
us_videos_count = us_videos_df['video_id'].count()
print(f'Total number of youtube videos in DataFrame: {us_videos_count}')

In [ ]:
sql_category_count =pd.read_sql_query('select count(id) from video_category', con=engine)
print(f'Total number of youtube videos in SQL: {sql_category_count}')
sql_video_count = pd.read_sql_query('Select count(id) from us_videos', con=engine)
print(f'Total number of categories in DataFrame: {sql_video_count}')

In [ ]:
sql_category_count.dtypes